
<% @products.each do |product| %>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="panel panel-default">
      <div class="panel-heading"><h3 class="panel-title"><%= product.name %></h3>
      </div>

      <div class="panel-body">
        <a href="/products/<%= product.id %>">
        <img src="<%= product.image %>" class="img-responsive" align="middle"></a>
        <p>
          <h6><i class="fa fa-fw fa-usd"></i><span class="hidden-sm"><%= product.price %></span> <span><a href="<%= product.link %>" class="btn btn-warning"><i class="fa fa-fw fa-shopping-cart"></i></a></span></h6>
        </p>
        <p> <h6><span>Brand:<span><%= product.brand %><h6></p>
        <p><h6><span>Retailer:<span><%= product.retailer %><h6></p>
        <p>


          <% if current_user.liked_products.ids.include? product.id %>

            <a href="/delete_like/<%= product.likes.find_by(:user_id => current_user.id).id %>"><i class="fa fa-heart"></i></a>

            <% else %>

            <form action="/quick_create_like" method="post">

      <!-- Hidden input for authenticity token to protect from forgery -->
            <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

            <!-- Label and input for user_id -->
            <div class="form-group">
              <input type="hidden" id="user_id" name="user_id" placeholder="User" class="form-control" value="<%= current_user.id %>">
            </div>

            <!-- Label and input for photo_id -->
            <div class="form-group">
              <input type="hidden" id="product_id" name="product_id" placeholder="Product" class="form-control" value="<%= product.id %>">
            </div>
            <button class="btn btn-link">
              <i class="fa fa-heart-o"></i>
            </button>
          </form>
          <% end %>

        </p>
        <p>

          <% product.comments.each do |comment|  %>
          <ul class="media-list">
          <li class="media">
          <div class="media-body">
          <h6 class="media-heading">
          <a href="/users/<%= comment.user_id %>"><%= comment.user.username %></a>
          <small><%= time_ago_in_words(comment.created_at)%> ago</small>
          </h6>
          <%= comment.body %>
          </div>
          </li>
          </ul>
          <% end %>

          <li class="media">
          <div class="media-body">
          <form action="/quick_create_comment" method="post">
              <!-- Hidden input for authenticity token to protect from forgery -->
          <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

          <input type="hidden" id="product_id" name="product_id" value="<%=product.id%>">

          <input type="hidden" id="user_id" name="user_id" value="<%=current_user.id%>">

              <!-- Label and input for body -->
          <div class="form-group">
          <label for="body" class="sr-only">

          </label>

          <div class="input-group">
          <input type="text" id="body" name="body" class="form-control" placeholder="Add a comment..." required>

          <span class="input-group-btn">
          <button class="btn btn-link">
          <i class="fa fa-commenting-o"></i>
          </button>
          </span>
          </div><!-- /input-group -->
          </div>
          </form>
          </div>
          </li>
      </p>
     </div>
     </div>
  </div>
</div>
<% end %>
